{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Taskify{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% tailwind_css %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/input_styles.css' %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          referrerpolicy="no-referrer">

</head>
<body class="min-h-screen w-full flex flex-col overflow-x-hidden">


<nav class="sticky top-0 left-0 right-0 top-0 h-14 bg-white shadow-sm px-4 z-50 items-center">
    <div class="flex flex-wrap justify-between items-center pt-2">
        <div class="flex justify-start items-center">
            <button data-drawer-target="drawer-navigation" data-drawer-toggle="drawer-navigation"
                    aria-controls="drawer-navigation"
                    class="p-2 mr-2 text-acent1 rounded-lg cursor-pointer lg:hidden hover:bg-bgLight focus:bg-bgLight focus:ring-2 focus:ring-acent1">
                <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                          clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Toggle sidebar</span>
            </button>

            <a href="/" class="flex items-center justify-between mr-4">
                <img src="{% static 'images/logo.png' %}" class="mr-3 h-8 hidden md:inline" alt="Logo"/>
            </a>

        </div>

    </div>
</nav>
<!-- End of the Navbar -->

<!-- Sidebar -->
<div class="flex flex-row w-full min-h-0 flex-1">

    <aside
            id="drawer-navigation"
            class="scrollbar fixed lg:sticky left-0 top-14 z-40 w-72 lg:w-56 h-[calc(100vh-3.5rem)]
  transition-transform -translate-x-full bg-white border-r border-gray-100 lg:translate-x-0"
            aria-label="Sidenav">

        <div class="overflow-y-auto pt-2 px-3 h-full bg-white">
            <!-- Menu (It's for mobile) -->
            {% with current=request.resolver_match.url_name %}
            <ul class="space-y-0.5 lg:hidden">
                <!-- Home (siempre visible) -->
                <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'home' %} bg-black {% else %} hover:bg-gray-200 {% endif %}">
                    <a href="{% url 'home' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'home' %}text-white{% else %}text-black{% endif %}">
                        <i class="fa-solid fa-house text-lg {% if current == 'home' %}text-white{% else %}text-black{% endif %}"></i>
                        <span class="{% if current == 'home' %}text-white{% else %}text-black{% endif %}">Home</span>
                    </a>
                </li>

                {% if not user.is_authenticated %}
                    <!-- Iniciar sesión -->
                    <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'login' %} bg-black {% else %} hover:bg-gray-200 {% endif %}">
                        <a href="{% url 'login' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'login' %}text-white{% else %}text-black{% endif %}">
                            <i class="fa-solid fa-right-to-bracket text-lg {% if current == 'login' %}text-white{% else %}text-black{% endif %}"></i>
                            <span class="{% if current == 'login' %}text-white{% else %}text-black{% endif %}">Iniciar sesión</span>
                        </a>
                    </li>

                    <!-- Registrarse -->
                    <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'signup' %} bg-black {% else %} hover:bg-gray-200 {% endif %}">
                        <a href="{% url 'signup' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'signup' %}text-white{% else %}text-black{% endif %}">
                            <i class="fa-solid fa-user-plus text-lg {% if current == 'signup' %}text-white{% else %}text-black{% endif %}"></i>
                            <span class="{% if current == 'signup' %}text-white{% else %}text-black{% endif %}">Registrarse</span>
                        </a>
                    </li>
                {% endif %}

                {% if user.is_authenticated %}
                    <!-- Chats -->
                    <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'chats' %} bg-black {% else %} hover:bg-gray-200 {% endif %}">
                        <a href="{% url 'chats' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'chats' %}text-white{% else %}text-black{% endif %}">
                            <i class="fa-solid fa-comments text-lg {% if current == 'chats' %}text-white{% else %}text-black{% endif %}"></i>
                            <span class="{% if current == 'chats' %}text-white{% else %}text-black{% endif %}">Chats</span>
                        </a>
                    </li>

                    <!-- Pedidos -->
                    <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'my_orders' %} bg-black {% else %} hover:bg_gray-200 hover:bg-gray-200 {% endif %}">
                        <a href="{% url 'my_orders' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'my_orders' %}text-white{% else %}text-black{% endif %}">
                            <i class="fa-solid fa-bag-shopping text-lg {% if current == 'my_orders' %}text-white{% else %}text-black{% endif %}"></i>
                            <span class="{% if current == 'my_orders' %}text-white{% else %}text-black{% endif %}">Pedidos</span>
                        </a>
                    </li>

                    <!-- Perfil -->
                    <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'profile' %} bg-black {% else %} hover:bg-gray-200 {% endif %}">
                        <a href="{% url 'profile' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'profile' %}text-white{% else %}text-black{% endif %}">
                            <i class="fa-solid fa-user text-lg {% if current == 'profile' %}text-white{% else %}text-black{% endif %}"></i>
                            <span class="{% if current == 'profile' %}text-white{% else %}text-black{% endif %}">Perfil</span>
                        </a>
                    </li>

                    <!-- Notificaciones -->
                    <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'notifications' %} bg-black {% else %} hover:bg-gray-200 {% endif %}">
                        <a href="{% url 'notifications' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'notifications' %}text-white{% else %}text-black{% endif %}">
                            <i class="fa-solid fa-bell text-lg {% if current == 'notifications' %}text-white{% else %}text-black{% endif %}"></i>
                            <span class="{% if current == 'notifications' %}text-white{% else %}text-black{% endif %}">Notificaciones</span>
                        </a>
                    </li>

                    <!-- Dashboard -->
                    <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'advanced_stats' %} bg-black {% else %} hover:bg-gray-200 {% endif %}">
                        <a href="{% url 'advanced_stats' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'advanced_stats' %}text-white{% else %}text-black{% endif %}">
                            <i class="fa-solid fa-chart-simple text-lg {% if current == 'advanced_stats' %}text-white{% else %}text-black{% endif %}"></i>
                            <span class="{% if current == 'advanced_stats' %}text-white{% else %}text-black{% endif %}">Dashboard</span>
                        </a>
                    </li>

                    <!-- Favourites -->
                    <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'favourites' %} bg-black {% else %} hover:bg-gray-200 {% endif %}">
                        <a href="{% url 'favourites' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'favourites' %}text-white{% else %}text-black{% endif %}">
                            <i class="fa-solid fa-heart text-lg {% if current == 'favourites' %}text-white{% else %}text-black{% endif %}"></i>
                            <span class="{% if current == 'favourites' %}text-white{% else %}text-black{% endif %}">Favourites</span>
                        </a>
                    </li>

                    {% if user.is_authenticated  and user.role != 'CUSTOMER' and user.role != 'COMPANY_WORKER' %}
                        <!-- Mis Servicios -->
                        <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'my_services' %} bg-black {% else %} hover:bg-gray-200 {% endif %}">
                            <a href="{% url 'my_services' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'my_services' %}text-white{% else %}text-black{% endif %}">
                                <i class="fa-solid fa-briefcase text-lg {% if current == 'my_services' %}text-white{% else %}text-black{% endif %}"></i>
                                <span class="{% if current == 'my_services' %}text-white{% else %}text-black{% endif %}">Mis Servicios</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            {% endwith %}

            <!-- Menu (It's for Lablet and Desktop) -->
            {% with current=request.resolver_match.url_name %}
            <ul class="hidden lg:inline space-y-0.5">
                <!-- Home (siempre visible) -->
                <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'home' %} bg-black {% else %} hover:bg-gray-200 {% endif %}">
                    <a href="{% url 'home' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'home' %}text-white{% else %}text-black{% endif %}">
                        <i class="fa-solid fa-house text-lg {% if current == 'home' %}text-white{% else %}text-black{% endif %}"></i>
                        <span class="{% if current == 'home' %}text-white{% else %}text-black{% endif %}">Home</span>
                    </a>
                </li>

                {% if not user.is_authenticated %}
                    <!-- Iniciar sesión -->
                    <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'login' %} bg-black {% else %} hover:bg-gray-200 {% endif %}">
                        <a href="{% url 'login' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'login' %}text-white{% else %}text-black{% endif %}">
                            <i class="fa-solid fa-right-to-bracket text-lg {% if current == 'login' %}text-white{% else %}text-black{% endif %}"></i>
                            <span class="{% if current == 'login' %}text-white{% else %}text-black{% endif %}">Iniciar sesión</span>
                        </a>
                    </li>

                    <!-- Registrarse -->
                    <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'signup' %} bg-black {% else %} hover:bg-gray-200 {% endif %}">
                        <a href="{% url 'signup' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'signup' %}text-white{% else %}text-black{% endif %}">
                            <i class="fa-solid fa-user-plus text-lg {% if current == 'signup' %}text-white{% else %}text-black{% endif %}"></i>
                            <span class="{% if current == 'signup' %}text-white{% else %}text-black{% endif %}">Registrarse</span>
                        </a>
                    </li>
                {% endif %}

                {% if user.is_authenticated %}
                    <!-- Chats -->
                    <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'chats' %} bg-black {% else %} hover:bg-gray-200 {% endif %}">
                        <a href="{% url 'chats' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'chats' %}text-white{% else %}text-black{% endif %}">
                            <i class="fa-solid fa-comments text-lg {% if current == 'chats' %}text-white{% else %}text-black{% endif %}"></i>
                            <span class="{% if current == 'chats' %}text-white{% else %}text-black{% endif %}">Chats</span>
                        </a>
                    </li>

                    <!-- Pedidos -->
                    <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'my_orders' %} bg-black {% else %} hover:bg-gray-200 {% endif %}">
                        <a href="{% url 'my_orders' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'my_orders' %}text-white{% else %}text-black{% endif %}">
                            <i class="fa-solid fa-bag-shopping text-lg {% if current == 'my_orders' %}text-white{% else %}text-black{% endif %}"></i>
                            <span class="{% if current == 'my_orders' %}text_white{% else %}text-black{% endif %}">Pedidos</span>
                        </a>
                    </li>

                    <!-- Perfil -->
                    <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'profile' %} bg-black {% else %} hover:bg-gray-200 {% endif %}">
                        <a href="{% url 'profile' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'profile' %}text-white{% else %}text-black{% endif %}">
                            <i class="fa-solid fa-user text-lg {% if current == 'profile' %}text-white{% else %}text-black{% endif %}"></i>
                            <span class="{% if current == 'profile' %}text_white{% else %}text-black{% endif %}">Perfil</span>
                        </a>
                    </li>

                    <!-- Notificaciones -->
                    <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'notifications' %} bg-black {% else %} hover:bg-gray-200 {% endif %}">
                        <a href="{% url 'notifications' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'notifications' %}text-white{% else %}text-black{% endif %}">
                            <i class="fa-solid fa-bell text-lg {% if current == 'notifications' %}text-white{% else %}text-black{% endif %}"></i>
                            <span class="{% if current == 'notifications' %}text_white{% else %}text-black{% endif %}">Notificaciones</span>
                        </a>
                    </li>

                    <!-- Dashboard -->
                    <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'advanced_stats' %} bg-black {% else %} hover:bg-gray-200 {% endif %}">
                        <a href="{% url 'advanced_stats' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'advanced_stats' %}text-white{% else %}text-black{% endif %}">
                            <i class="fa-solid fa-book text-lg {% if current == 'advanced_stats' %}text-white{% else %}text-black{% endif %}"></i>
                            <span class="{% if current == 'advanced_stats' %}text_white{% else %}text-black{% endif %}">Dashboard</span>
                        </a>
                    </li>

                    <!-- Favoritos -->
                    <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'favourites' %} bg-black {% else %} hover:bg-gray-200 {% endif %}">
                        <a href="{% url 'favourites' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'favourites' %}text-white{% else %}text-black{% endif %}">
                            <i class="fa-solid fa-heart text-lg {% if current == 'favourites' %}text-white{% else %}text-black{% endif %}"></i>
                            <span class="{% if current == 'favourites' %}text_white{% else %}text-black{% endif %}">Favoritos</span>
                        </a>
                    </li>

                    {% if user.is_authenticated  and user.role != 'CUSTOMER' and user.role != 'COMPANY_WORKER' %}
                        <!-- Mis Servicios -->
                        <li class="w-full rounded-xl transition-colors duration-300 ease-in-out motion-reduce:transition-none {% if current == 'my_services' %} bg-black {% else %} hover:bg-gray-200 {% endif %}">
                            <a href="{% url 'my_services' %}" class=" flex w-full items-center gap-3 rounded-xl p-2 bg-transparent !no-underline {% if current == 'my_services' %}text-white{% else %}text-black{% endif %}">
                                <i class="fa-solid fa-briefcase text-lg {% if current == 'my_services' %}text-white{% else %}text-black{% endif %}"></i>
                                <span class="{% if current == 'my_services' %}text_white{% else %}text-black{% endif %}">Mis Servicios</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            {% endwith %}
        </div>
    </aside>
    <div class="flex-1 w-full max-w-none overflow-y-auto flex flex-col ">
        {% block content %}{% endblock %}
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<!-- Site Script File -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- Flowbite Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
<!-- Apex Chart JS -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- Flowbite Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
<!-- Apex Chart JS -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


</body>
</html>
